/*
  ==============
  ABOUT Styles
  ============== 
  */  
  .about-container {
    display: flex;
    flex-direction: row;
    background: linear-gradient(to right, #000428  , #004e92);
    padding-bottom: 1300px;
  }

  .tabs-container {
    display: flex;
    flex-direction: row;
  }
 

 /*
  ==============
  ABOUT MEDIA QUERIES
  ============== 
  */  
@media screen and (max-width: 1175px) {
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }

  .bio-card,
  .hobbies-card,
  .soft-skills-card,
  .interests-card  {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .resume-button {
    padding-bottom: 5px;
  }

}