main {
    background: var(--clr-primary-3);
}


/* main heading for the about page */
 .about-heading {
    font-size: 2.25em;
    background: var(--clr-primary-3);
    color:white;
    margin: 15px;
    text-align: center;
}

 /* styling for activity container of the about page */
 .activities {
    background: var(--clr-primary-5);
    color: black;
    margin: 0 25% 0% 25%;
    width: 50%;
}

/* styling for activity cards */
.activity-cards {
    background-color: white;
    border: 2px solid white;
    box-shadow: 0 0 20px 0 #999;
    margin-bottom: 80px; 
    padding: 0 30px 20px 30px;  
}
/* heading for each activity card */
.activity-card-h {
    font-weight: 900;
    font-size: 2em;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

/* paragraph for each activity card */
.activity-card-p {
    font-size: 1em;
    color: black; 
}

.activity-cards:nth-of-type(8) {
    background-color: orange;
    padding-bottom:;
}

